$white: #FAFAFA;
$black: #0B0A10;
$gray: #CDD3D9;
$grayLight: #F4F5F6;
$grayDark: #5F6D7C;


$primary: #22212C;
$primaryLight: #FFF;
$primaryDark: #FFF;

$secondary: #FFC72C;

$state-info: #2F80ED;
$state-success: #319288;
$state-warning: #ECA348;
$state-error: #E66282;